{% extends 'base.html' %}
{% block title %}Sundial Pantry{% endblock %}
{% block content %}

<div class="text-center">
    <h2>Please get in touch to plan a small private dinner in your home!</h2>
    <h5>Complete the form below to send a dinner party request</h5>
<form class="col-lg-6 offset-lg-3 mt-5" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form
    if field.widget.input_type != 'hidden' %}
    <div class="row justify-content-center"> {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="text-center">
        <button class="btn btn-success mt-3 justify-content-center" type="submit">Send Email</button>
    </div>
</form>
</div>
{% endblock %}