{% extends 'base.html' %}
{% block title %}Sundial Pantry{% endblock %}
{% block content %}
<img id="band" src="../static/images/dinner_band.png" alt="homepage">

<div class="display-4 text-center mb-3">Dinner Parties</div>
<div class="text-center mx-4">
    <p>
        I look forward to working with you to create a special menu. I love to use the freshest local and responsibly sourced ingredients.</br>
        Please fill out the form below to send me an email about your occasion.</br>
    </p>
    <ul style="list-style-type:none;">Dinner party ideas:
        <li>Crab salad with belgian endive </li>
        <li>Home-made tortelini in brodo</li>
        <li>Salt baked bronzino</li>
        <li>Paella party!</li>
    </ul>
</div>
<form class="col-lg-6 offset-lg-3 my-5" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form
    if field.widget.input_type != 'hidden' %}
    <div class="row justify-content-center"> {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        <span class="form-text text-danger">{{ error }}</span>
        {% endfor %}
    </div>
    {% endfor %}
    <div class="text-center">
        <button class="btn btn-success mt-3 justify-content-center" type="submit">Send Email</button>
    </div>
</form>

{% endblock %}