{% extends 'base.html' %}
{% block title %}Sundial Pantry{% endblock %}
{% block content %}
<img id="band" src="../static/images/homepage.photo.band.png" alt="homepage">

<div class="text-center mt-3">
    <h1>Find me at the Pacific Beach Farmer’s Market</h1> 
    <h1>Tuesdays from 2pm to 6pm</h1>
    <h3>New scrumptious menu items every week.</h3>
    <a href="http://www.pacificbeachmarket.com" target="blank">
        <img src="../static/images/Pacific-Beach-Tuesday-Farmers-Market.png" alt="pbmarket">
    </a>
    <h3>Follow me on instagram @SundialPantry for weekly specials.</h3>
    
</div>

{% endblock %}