{% extends 'base.html' %}
{% block title %}Sundial Pantry{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-4 img-with-text">
            <img id="button" src="../static/images/farmers_market.png" alt="button">
            <p class="text-center">Find me at the
            Pacific Beach Farmer’s
            Market</p>
        </div>
        <div class="col-4 img-with-text">
            <img id="button" src="../static/images/dinner_parties.png" alt="button">
            <p class="text-center">Need a chef for a day?
            Going on vacation and need a
            travelling chef?</p>
        </div>
        <div class="col-4 img-with-text">
            <img id="button" src="../static/images/special_orders.png" alt="button">
            <p class="text-center">High quality
            dinners to go, catering,
            and baked goods.</p>
        </div>
    </div>
{% endblock %}