{% extends 'base.html' %}
{% block title %}Sundial Pantry{% endblock %}
{% block content %}

<div class="display-4 text-center mb-3">Photo Gallery</div>
<div id="center" class="row">
    <div class="gallery">
        <img src="../static/images/sandwich2.JPG" alt="Pulled Pork">
        <div class="desc">Pulled pork sandwich with coleslaw</div>
    </div>
    <div class="gallery">
        <img src="../static//images/beets.JPG" alt="Beets">
        <div class="desc">Red beet salad</div>
    </div>
    <div class="gallery">
        <img src="../static/images/pasta_salad.JPG" alt="Pasta Salad">
        <div class="desc">Pasta salad</div>
    </div>
    <div class="gallery">
        <img src="../static/images/gingersnap.jpg" alt="Ginger Snaps">
        <div class="desc">Ginger Snaps</div>
    </div>
    <div class="gallery">
        <img src="../static/images/kale_salad.JPG" alt="Kale Salad">
        <div class="desc">Kale Salad</div>
    </div>
    <div class="gallery">
        <img src="../static/images/pea_lasagna.JPG" alt="Lasagna">
        <div class="desc">Pea Lasagna</div>
    </div>
    <div class="gallery">
        <img src="../static/images/bean_salad.JPG" alt="Bean Salad">
        <div class="desc">Bean Salad</div>
    </div>
    <div class="gallery">
        <img src="../static/images/muffins.JPG" alt="Muffins">
        <div class="desc">Blueberry Muffins</div>
    </div>
</div>
{% endblock %}