{% extends 'base.html' %}
{% block title %}Sundial Pantry{% endblock %}
{% block content %}

<div class="container">
    <div class="display-4 text-center mb-3">Gallery</div>
    <div class="gallery-grid">
        <div class="gallery">
            <img src="../static/images/tomato.jpg" alt="Tomato">
            <div class="desc">Tomato pie</div>
        </div>
        <div class="gallery">
            <img src="../static/images/plum.jpg" alt="Plum Tart">
            <div class="desc">Plum Tart</div>
        </div>
        <div class="gallery">
            <img src="../static/images/plating.jpeg" alt="Plating">
            <div class="desc">Elise plating a course at a private dinner</div>
        </div>
        <div class="gallery">
            <img src="../static/images/sandwich2.JPG" alt="Pulled Pork">
            <div class="desc">Pulled pork sandwich with coleslaw</div>
        </div>
        <div class="gallery">
            <img src="../static//images/strawberry.cake.jpeg" alt="Beets">
            <div class="desc">Strawberry Cake</div>
        </div>
        <div class="gallery">
            <img src="../static/images/pasta_salad.JPG" alt="Pasta Salad">
            <div class="desc">Pasta salad</div>
        </div>
    </div>
</div>
{% endblock %}