{% extends 'base.html' %}
{% block title %}Sundial Pantry{% endblock %}
{% block content %}

<div class="wrapper row">
    <img class="col mb-1" src="../static/images/sandwich2.JPG" alt="">
    <img class="col mb-1" src="../static//images/beets.JPG" alt="">
    <img class="col mb-1" src="../static//images/pasta_salad.JPG" alt="">
    <img class="col mb-1" src="../static/images/gingersnap.jpg" alt="">
</div>

<div class="wrapper row">
    <img class="col mb-1" src="../static//images/kale_salad.JPG" alt="">
    <img class="col mb-1" src="../static//images/pea_lasagna.JPG" alt="">
    <img class="col mb-1" src="../static/images/bean_salad.JPG" alt="">
    <img class="col mb-1" src="../static//images/muffins.JPG" alt="">
</div>

{% endblock %}